.recomend {
	font-size: .8rem;
	font-weight: 500;
	padding-top: .5rem;
}

@media screen and (max-width: 590px) {
	.form-body {
		display: flex;
		flex-direction: column !important;
		gap: 1.25rem;
		height: 100%;
	}

	.inputs textarea {
		min-width: 100%;
		max-width: 100%;
	}
}

.form-body {
	display: flex;
	flex-direction: row;
	gap: 1.25rem;
	height: 100%;
}

.content-images {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.content-inputs {
	display: flex;
	flex-direction: column;
	gap: .8rem;
	width: 100%;
}

.wrap-inputs {
	display: flex;
	gap: 1rem;
}

.inputs .select {
	width: 100%;
}

.wrap-inputs input {
	width: 100%;
}

.inputs select {
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: #272A2D;
	font-weight: 500;
	border: 1px solid #D0D5DD;
	border-radius: 0.375rem;
	letter-spacing: normal;
	transition: border 0.2s ease;
	outline: none;
	box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.02);
	padding: 9px 12px;
	width: 100%;
}

.price-input {
	width: 100% !important;
	text-align: left;
}

#priceInput {
	padding: .6rem 1rem;
	text-align: right;
}

.inputs {
	display: flex;
	flex-direction: column;
	
	
}

.price-input {

justify-items: center;
}

.inputs label {
	font-size: 14px;
	color: #272A2D;
	font-weight: 600;
	margin-bottom: 8px;
	justify-content: center;
}

.label-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.inputs input {
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: #272A2D;
	font-weight: 500;
	border: 1px solid #D0D5DD;
	border-radius: 0.375rem;
	letter-spacing: normal;
	transition: border 0.2s ease;
	outline: none;
	box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.02);
	padding: 9px 12px;
	width: 100%;
}

.inputs input:focus {
	border: 1px solid #118AB2;
}

.wrap-inputs select:focus {
	border: 1px solid #118AB2;
}

.thumb {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px dashed #118AB2;
	padding: .4rem 0;
	width: 100%;
	border-radius: .4rem;
	text-align: center;
	cursor: pointer;
	position: relative;
	background-image: url('/assets/background-picker.png');
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.thumb::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	background-color: #118AB233;
	transition: height 0.6s ease-in-out;
	z-index: 0;
	clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

.thumb.selected::before {
	height: 100%;
	clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
	animation: wave .5s ease-in-out forwards;
}

@keyframes wave {
	0% {
		clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 25%);
	}

	50% {
		clip-path: polygon(0 100%, 100% 100%, 100% 50%, 0 50%);
	}

	100% {
		clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
	}
}

.thumb.selected .icon-thumb {
	z-index: 2;
}

.icon-thumb {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.icon-thumb i {
	color: #118AB2;
	border-radius: 100%;
	width: 40px;
	height: 40px;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon-thumb span {
	padding: 0 .8rem;
	font-size: .9rem;
	color: #272A2D;
	font-weight: 500;
}

.icon-thumb label {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: .6rem;
	cursor: pointer;
}

.wrap-inputs {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.wrap-inputs .select {
	width: 100%;
}

.wrap-inputs input {
	width: 100%;
}

.wrap-inputs select {
	width: 100%;
	font-size: .9rem;
	color: #272A2D;
	font-weight: 500;
	padding: .6rem 1rem;
	border: 1px solid #D0D5DD;
	border-radius: .25rem;
	outline: 0px solid #D0D5DD;
	font-weight: 500;
	transition-duration: .1s;
}

.inputs textarea {
	font-size: .9rem;
	font-weight: 500;
	padding: .6rem .8rem;
	color: #272A2D;
	border: 1px solid #D0D5DD;
	border-radius: .25rem;
	outline: 1px solid #D0D5DD;
	transition-duration: .1s;
	max-width: 453px;
	max-height: 80px;
	width: 100%;
	height: 80px;
}

.wrap-inputs select:focus {
	border: 1px solid #118AB2;
}

.inputs textarea:focus {
	border: 1px solid #118AB2;
}

.checkbox {
	display: flex;
	align-items: center;
	gap: .4rem;
	margin-top: 1.25rem;
}

.checkbox input {
	width: auto !important;
}

.checkbox label {
	font-size: 14px;
	color: #272A2D;
	font-weight: 600;
}

.checkbox-container {
	display: inline-block;
	position: relative;
	padding-left: 25px;
	margin-bottom: 0px;
	cursor: pointer;
	font-size: 14px;
	user-select: none;
}

.custom-checkbox {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: -2px;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: white;
	border-radius: 0.375rem;
	border: 1px solid #D0D5DD;
	transition: background-color 0.3s;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
	left: 6px;
	top: 2px;
	width: 3px;
	height: 4px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}

.custom-checkbox:checked ~ .checkmark {
	background-color: #2196F3;
	box-shadow: 0 3px 7px rgba(33, 150, 243, 0.3);
}

.custom-checkbox:checked ~ .checkmark:after {
	display: block;
}

@keyframes checkAnim {
	0% {
		width: 0;
		height: 0;
	}

	100% {
		width: 6px;
		height: 10px;
	}
}

.custom-checkbox:checked ~ .checkmark:after {
	animation: checkAnim 0.2s forwards;
}

.limit {
	font-size: 12px;
	color: #272A2D;
	font-weight: 600;
	padding-top: .5rem;
	margin-bottom: 8px;
}

.error {
	font-size: .8rem;
	color: #EF476F;
	font-weight: 600;
	padding-left: .2rem;
	padding-top: .2rem;
	text-wrap: nowrap;
}

.thumb-selected {
	display: flex;
	width: 100%;
	height: 100%;
}

.thumb-selected .thumb-image {
	will-change: transform;
	max-width: 200px;
	min-height: 200px;
	width: 100%;
	height: 100%;
	border-radius: .25rem;
	object-fit: cover;
	background-size: 100% 100%;
	background-position: center;
	position: relative;
	transition: filter 0.3s ease;
}

.thumb-selected-image-loader {
	display: flex;
	width: 100%;
	background-color: white;
}

.spinner-logo {
	height: 100px;
}

.thumb-selected .thumb-image:hover {
	filter: brightness(0.7);
}

.remove-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2rem;
	color: white;
	cursor: pointer;
	display: none;
	z-index: 10;
}

.thumb-selected .thumb-image:hover .remove-icon {
	display: block;
}

.image-button {
	display: none;
}

@media screen and (max-width: 590px) {
	.thumb-selected {
		justify-content: center;
	}

	.thumb-selected .thumb-image:hover {
		filter: brightness(1);
	}

	.thumb-selected .thumb-image:hover .remove-icon {
		display: none;
	}

	.image-button {
		display: block;
		color: white !important;
		margin-top: .5rem !important;
		margin: 0 auto;
		width: 100%;
	}

	.form-footer {
		padding-top: 2.5rem;
	}
}

.container-category {
	display: flex;
	align-items: center;
	gap: .4rem;
}

.category-add {
	height: 100%;
}

@media screen and (max-width: 590px) {
	.category-plus {
		padding: .66rem .8rem !important;
	}
}




.category-plus {
	padding: .2rem .8rem;
	height: 100%;
	background-color: #118AB2;
	border: 1px solid #118AB2;
	border-radius: 0.375rem;
	cursor: pointer;
	box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.02);
}

.category-plus i {
	color: white;
}
.container-fluid{
    width: 100%;
    flex-direction: row;
    display: flex;

}

.row {

	width: 50%;
}

.thumb-selected{
	justify-content: center;
}



@media (orientation: portrait) {
	.container-fluid {
	flex-direction: column !important;
    display: flex;


	}

	.row {
		width: 100%;
	}

	.price {
	display: flex !important;
	flex-direction: column !important;
	}

	.price .number{
	text-decoration: line-through;
    color: #888;
	font-size: 1.10rem;
	margin-left: 0% !important;
	}
}



.status-container {
	display: flex;
	gap: .6rem;

	justify-content: center;
}

.input-radio {
	display: flex;
	align-items: center;
	gap: .4rem;
	font-size: 14px;
}

.input-radio label {
	margin: 0 !important;
}

.radios {
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
}

.active {
	color: #329c3a !important;
}

.disabled {
	color: #EF476F !important;
}

.confirm {
	background-color: #06D6A0;
	border: 1px solid #06D6A0;
	border-radius: 0.375rem;
	padding: 0.56rem 1rem;
	cursor: pointer;
	box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.02);
}

.confirm span {
	color: white;
	font-weight: 600;
	font-size: 0.87rem;
	line-height: 1.25rem;
	letter-spacing: 0;
}

.confirm {
	background-color: #06D6A0;
	border: 1px solid #06D6A0;
	border-radius: 0.375rem;
	padding: 0.56rem 1rem;
	cursor: pointer;
	box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.02);
}

.confirm span {
	color: white;
	font-weight: 600;
	font-size: 0.87rem;
	line-height: 1.25rem;
	letter-spacing: 0;
}