<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApifyToken" value="&lt;REDACTED&gt;" />
    <add key="FootballDataApiKey" value="&lt;REDACTED&gt;" />
    <add key="Football_BSA_PreTemporadaDe" value="yyyy-MM-dd" />
    <add key="Football_BSA_InicioTemporadaAte" value="yyyy-MM-dd" />
    <add key="Football_BSA_FimTemporadaAte" value="yyyy-MM-dd" />
    <add key="Football_BSA_UltimaRodada" value="&lt;N&gt;" />
    <add key="Football_CL_FaseLigaAte" value="yyyy-MM-dd" />
    <add key="Football_CL_PlayoffAte" value="yyyy-MM-dd" />
    <add key="Football_CL_PlayoffRodada" value="&lt;N&gt;" />
    <add key="Football_CL_OitavasIdaAte" value="yyyy-MM-dd" />
    <add key="Football_CL_OitavasVoltaAte" value="yyyy-MM-dd" />
    <add key="Football_CL_QuartasIdaAte" value="yyyy-MM-dd" />
    <add key="Football_CL_QuartasVoltaAte" value="yyyy-MM-dd" />
    <add key="Football_CL_SemisIdaAte" value="yyyy-MM-dd" />
    <add key="Football_CL_SemisVoltaAte" value="yyyy-MM-dd" />
  </appSettings>
</configuration>
