<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

  <variable name="logDir" value="${basedir}/logs" />

  <variable name="layoutServico"
            value="${longdate} | ${level:uppercase=true:padding=-5} | ${logger:shortName=true:padding=-20} | ${message} ${exception:format=ToString}" />

  <targets>
    <target xsi:type="File" name="f"
            fileName="${logDir}/tvplayer.log"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=ToString}"
            archiveFileName="${logDir}/tvplayer_{#}.log"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            maxArchiveFiles="30"
            concurrentWrites="true"
            keepFileOpen="false" />

    <target xsi:type="File" name="canaltech"
            fileName="${logDir}/Canaltech/canaltech.log"
            layout="${layoutServico}"
            archiveFileName="${logDir}/Canaltech/canaltech_{#}.log"
            archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyy-MM-dd"
            maxArchiveFiles="60" encoding="utf-8"
            concurrentWrites="true" keepFileOpen="false" />

    <target xsi:type="File" name="jovempan"
            fileName="${logDir}/JovemPan/jovempan.log"
            layout="${layoutServico}"
            archiveFileName="${logDir}/JovemPan/jovempan_{#}.log"
            archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyy-MM-dd"
            maxArchiveFiles="60" encoding="utf-8"
            concurrentWrites="true" keepFileOpen="false" />

    <target xsi:type="File" name="football"
            fileName="${logDir}/FootballData/football.log"
            layout="${layoutServico}"
            archiveFileName="${logDir}/FootballData/football_{#}.log"
            archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyy-MM-dd"
            maxArchiveFiles="60" encoding="utf-8"
            concurrentWrites="true" keepFileOpen="false" />

    <target xsi:type="File" name="rss"
            fileName="${logDir}/RSS/rss.log"
            layout="${layoutServico}"
            archiveFileName="${logDir}/RSS/rss_{#}.log"
            archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyy-MM-dd"
            maxArchiveFiles="15" encoding="utf-8"
            concurrentWrites="true" keepFileOpen="false" />

    <target xsi:type="File" name="tecmundo"
            fileName="${logDir}/Tecmundo/tecmundo.log"
            layout="${layoutServico}"
            archiveFileName="${logDir}/Tecmundo/tecmundo_{#}.log"
            archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyy-MM-dd"
            maxArchiveFiles="60" encoding="utf-8"
            concurrentWrites="true" keepFileOpen="false" />

    <target xsi:type="File" name="gazetadopovo"
            fileName="${logDir}/GazetaDoPovo/gazetadopovo.log"
            layout="${layoutServico}"
            archiveFileName="${logDir}/GazetaDoPovo/gazetadopovo_{#}.log"
            archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyy-MM-dd"
            maxArchiveFiles="60" encoding="utf-8"
            concurrentWrites="true" keepFileOpen="false" />

    <target xsi:type="File" name="g1"
            fileName="${logDir}/G1/g1.log"
            layout="${layoutServico}"
            archiveFileName="${logDir}/G1/g1_{#}.log"
            archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyy-MM-dd"
            maxArchiveFiles="60" encoding="utf-8"
            concurrentWrites="true" keepFileOpen="false" />
  </targets>

  <rules>
    <logger name="TVPlayerAPI.Canaltech.*"               minlevel="Debug" writeTo="canaltech" />
    <logger name="TVPlayerAPI.JovemPan.*"                minlevel="Debug" writeTo="jovempan" />
    <logger name="TVPlayerAPI.FootballData.*"            minlevel="Debug" writeTo="football" />
    <logger name="TVPlayerAPI.RSS.*"                     minlevel="Debug" writeTo="rss" />
    <logger name="TVPlayerAPI.Tecmundo.*"                minlevel="Debug" writeTo="tecmundo" />
    <logger name="TVPlayerAPI.GazetaDoPovo.*"            minlevel="Debug" writeTo="gazetadopovo" />
    <logger name="TVPlayerAPI.G1.*"                      minlevel="Debug" writeTo="g1" />

    <logger name="TVPlayerAPI.Canaltech.*"               maxlevel="Info" final="true" />
    <logger name="TVPlayerAPI.JovemPan.*"                maxlevel="Info" final="true" />
    <logger name="TVPlayerAPI.FootballData.*"            maxlevel="Info" final="true" />
    <logger name="TVPlayerAPI.RSS.*"                     maxlevel="Info" final="true" />
    <logger name="TVPlayerAPI.Tecmundo.*"                maxlevel="Info" final="true" />
    <logger name="TVPlayerAPI.GazetaDoPovo.*"            maxlevel="Info" final="true" />
    <logger name="TVPlayerAPI.G1.*"                      maxlevel="Info" final="true" />

    <logger name="*" minlevel="Info" writeTo="f" />
  </rules>
</nlog>
