.form {
	width: 500px;
}

@media screen and (max-width: 800px) {
	.form {
		max-width: 100%;
	}
}

@media screen and (max-width: 590px) {
	.form-body {
		display: flex;
		flex-direction: column !important;
		gap: 1.25rem;
		height: 100%;
	}

	.inputs textarea {
		min-width: 100%;
		max-width: 100%;
	}
}

@media screen and (max-width: 550px) {
	.wrap-inputs {
		flex-direction: column;
	}

	.wrap-inputs .select {
		width: 100% !important;
	}
}

.form-body {
	display: flex;
	flex-direction: row;
	gap: 1.25rem;
	height: 100%;
}

.content-images {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.content-inputs {
	display: flex;
	flex-direction: column;
	gap: .8rem;
	width: 100%;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 1.25rem;
}

.content-header {
	display: flex;
	align-items: center;
	gap: .75rem;
}

.icon {
	background-color: #E5F2FF;
	padding: 8px;
	width: 36px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.5rem;
}

.icon i {
	font-size: 1.125rem;
	color: #118AB2 !important;
	line-height: 0;
}

.close {
	color: #6B7280;
	font-size: 1rem;
	line-height: 0;
	cursor: pointer;
	margin-bottom: 1rem;
	padding: .4rem;
}

.title {
	font-size: 1.125rem;
	letter-spacing: 0;
	font-weight: 700;
}

.wrap-inputs {
	display: flex;
	gap: 1rem;
}

.inputs .select {
	width: 50%;
}

.wrap-inputs input {
	width: 100%;
}

.inputs select {
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: #272A2D;
	font-weight: 500;
	border: 1px solid #D0D5DD;
	border-radius: 0.375rem;
	letter-spacing: normal;
	transition: border 0.2s ease;
	outline: none;
	box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.02);
	padding: 9px 12px;
	width: 100%;
}

.price-input {
	width: 40% !important;
	text-align: left;
}

#priceInput {
	padding: .6rem 1rem;
}

.inputs {
	display: flex;
	flex-direction: column;
}

.inputs label {
	font-size: 14px;
	color: #272A2D;
	font-weight: 600;
	margin-bottom: 8px;
}

.inputs input {
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: #272A2D;
	font-weight: 500;
	border: 1px solid #D0D5DD;
	border-radius: 0.375rem;
	letter-spacing: normal;
	transition: border 0.2s ease;
	outline: none;
	box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.02);
	padding: 9px 12px;
	width: 100%;
}

.inputs input:focus {
	border: 1px solid #118AB2;
}

.wrap-inputs select:focus {
	border: 1px solid #118AB2;
}

.form-footer {
	padding-top: 16px;
	display: flex;
	flex-direction: row;
	justify-content: end;
	gap: .5rem;
}

.cancel {
	background-color: white;
	border: 1px solid #D1D5DB;
	border-radius: 0.375rem;
	padding: 0.56rem 1rem;
	cursor: pointer;
	box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.02);
}

.cancel span {
	color: #272A2D;
	font-weight: 600;
	font-size: 0.87rem;
	line-height: 1.25rem;
	letter-spacing: 0;
}

.confirm {
	background-color: #06D6A0;
	border: 1px solid #06D6A0;
	border-radius: 0.375rem;
	padding: 0.56rem 1rem;
	cursor: pointer;
	box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.02);
}

.confirm span {
	color: white;
	font-weight: 600;
	font-size: 0.87rem;
	line-height: 1.25rem;
	letter-spacing: 0;
}

.thumb {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px dashed #118AB2;
	padding: .4rem 0;
	width: 100%;
	border-radius: .4rem;
	text-align: center;
	cursor: pointer;
	position: relative;
	background-image: url('/assets/background-picker.png');
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.thumb::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	background-color: #118AB233;
	transition: height 0.6s ease-in-out;
	z-index: 0;
	clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

.thumb.selected::before {
	height: 100%;
	clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
	animation: wave .5s ease-in-out forwards;
}

@keyframes wave {
	0% {
		clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 25%);
	}

	50% {
		clip-path: polygon(0 100%, 100% 100%, 100% 50%, 0 50%);
	}

	100% {
		clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
	}
}

.thumb.selected .icon-thumb {
	z-index: 2;
}

.icon-thumb {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.icon-thumb i {
	color: #118AB2;
	border-radius: 100%;
	width: 40px;
	height: 40px;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon-thumb span {
	padding: 0 .8rem;
	font-size: .9rem;
	color: #272A2D;
	font-weight: 500;
}

.icon-thumb label {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: .6rem;
	cursor: pointer;
}

.wrap-inputs {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.wrap-inputs .select {
	width: 50%;
}

.wrap-inputs select {
	width: 50%;
	font-size: .9rem;
	color: #272A2D;
	font-weight: 500;
	padding: .6rem 1rem;
	border: 1px solid #D0D5DD;
	border-radius: .25rem;
	outline: 0px solid #D0D5DD;
	font-weight: 500;
	transition-duration: .1s;
}

.inputs textarea {
	font-size: .9rem;
	font-weight: 500;
	padding: .6rem .8rem;
	color: #272A2D;
	border: 1px solid #D0D5DD;
	border-radius: .25rem;
	outline: 1px solid #D0D5DD;
	transition-duration: .1s;
	max-width: 453px;
	max-height: 80px;
	width: 100%;
	height: 80px;
}

.wrap-inputs select:focus {
	border: 1px solid #118AB2;
}

.inputs textarea:focus {
	border: 1px solid #118AB2;
}

.checkbox {
	display: flex;
	align-items: center;
	gap: .4rem;
	margin-top: 1.25rem;
}

.checkbox input {
	width: auto !important;
}

.checkbox label {
	font-size: 14px;
	color: #272A2D;
	font-weight: 600;
}

.checkbox-container {
	display: inline-block;
	position: relative;
	padding-left: 25px;
	margin-bottom: 0px;
	cursor: pointer;
	font-size: 14px;
	user-select: none;
}

.custom-checkbox {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: -2px;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: white;
	border-radius: 0.375rem;
	border: 1px solid #D0D5DD;
	transition: background-color 0.3s;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
	left: 6px;
	top: 2px;
	width: 3px;
	height: 4px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}

.custom-checkbox:checked ~ .checkmark {
	background-color: #2196F3;
	box-shadow: 0 3px 7px rgba(33, 150, 243, 0.3);
}

.custom-checkbox:checked ~ .checkmark:after {
	display: block;
}

@keyframes checkAnim {
	0% {
		height: 0;
	}

	100% {
		height: 10px;
	}
}

.custom-checkbox:checked ~ .checkmark:after {
	animation: checkAnim 0.2s forwards;
}

.input-radio {
	display: flex;
	align-items: center;
	gap: .4rem;
	font-size: 14px;
}

.input-radio label {
	margin: 0 !important;
}

.radios {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.active {
	color: #329c3a !important;
}

.disabled {
	color: #EF476F !important;
}

.error {
	font-size: .8rem;
	color: #EF476F;
	font-weight: 600;
	padding-left: .2rem;
	padding-top: .2rem;
	text-wrap: nowrap;
}
