<footer class="py-5">
    <div class="row">
        <div class="col-6 col-md-2 mb-3" id="suporte">
            <h5>Atendimento e Suporte</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">Suporte Online</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">FAQ'S</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">Informações Técnicas</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">Revendedor</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">Política de privacidade</a>
                </li>
            </ul>
        </div>

        <div class="col-6 col-md-2 mb-3" id="sobre">
            <h5>Sobre a Escolha Ai</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">Empresa</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">Rede atendida</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">Onde estamos</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">Parceiros</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 text-body-secondary">Contatos</a>
                </li>
            </ul>
        </div>
        <Newsletter />
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top" id="footerEnd">
        <p>© 2026 Company, Inc. All rights reserved.</p>
        <img src="/images/tisolution.png" alt="Footer Logo" class="logo-footer" />
    </div>
</footer>
