@keyframes pulse {
    0% {
        transform: scale(1); /* Estado inicial */
        filter: brightness(100%);
    }

    100% {
        transform: scale(1.1); /* Estado final (um pouco maior e mais brilhante) */
        filter: brightness(120%);
    }
}

.row {
    --bs-gutter-x: unset;
}


@media (orientation: portrait) {
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    .py-5 {
        height: 65vh !important;
    }

    .py-5 .row #suporte {
        grid-column: 1;
        grid-row: 1;
        width: 100%;
        margin-top: 10%;
        padding: 4vh;
    }

        .py-5 .row #sobre {
            grid-column: 2;
            grid-row: 1;
            width: 100%;
            margin-top: 10%;
            padding: 4vh;
        }


    #atualizacoes {
        grid-column: 1 / -1;
        grid-row: 2;
        width: 80%
    }

    #suporte h5, #sobre h5 {
        text-align: start;
        font-size: 1.6vh
    }

    .py-5 {
        height: 250px
    }

    #atualizacoes form{
        width: 100%
    }

    .d-flex p {
        font-size: 1.3vh;
        line-height: 1;
        position: relative;
        left: 5%;
    }

    #atualizacoes h5{
        font-size: 2vh
    }

    .flex-column{
        line-height: 2.2;
    }

    .py-5 .row .flex-column p{
        line-height: 1;
    }

    .py-5 .row{
        width: 100%
    }


    .row .col-md-5{
        grid-column: 1 / -1 !important;
        width: 100% !important
    }

   



    
}


.row {
    width: 100% !important
}

.col-md-5 .d-flex button:hover {
    animation: pulse 0.7s infinite alternate;
}

.d-flex input {
    width: 100%!important
}

@media(orientation: landscape) and (min-width: 2570px) {
    .py-5 .d-flex img {
        width: 150px;
    }

    footer .mb-3 .d-flex {
        justify-content: center;
        width: 80%;
    }

    .d-flex input {
        height: 4vh;
    }

    .col-md-5 .d-flex button {
        font-size: 1.6vh;
    }
}

.alert-success, #alert {
    margin-top: 0 !important;
    font-size: 2.4vh;
    font-weight: 700;
}



/*Responsividade mobile landscape*/
@media (orientation: landscape) and (min-width: 400px) and (max-width: 1200px) and (min-height: 300px) and (max-height: 800px) {



    footer .col-6 h5 {
        font-size: 2vw;
    }

    .row .col-6 ul li a {
        
        font-size: 2.5vh;
    }


    }