<div class="mainSolucoes">
	<h1>Soluções em cardápio digital</h1>
	<div class="cards">
		<div id="separateOne">
			<div class="groupOne" id="card">
				<img src="Images/categorias.png" alt="Imagem de categorias" class="tag">
				<h1>Categorias</h1>
				<h3>Crie categorias e separe seus produtos</h3>
			</div>
		</div>

		<div id="separateTwoo"> 

			<div class="groupTwoo" id="card">
				<img src="Images/produtos.png" alt="Imagem de produtos" class="tag">
				<h1>Produtos</h1>

				<h3>Defina valores, adicionais e promoções</h3>

			</div>
		</div>
		

		

		<div id="separateThree">

			<div class="groupThree" id="card">
				<img src="Images/empresas.png" alt="Imagem de empresas" class="tag">
				<h1>Empresas</h1>
				<h3>Gerencie suas filias e outras empresas dentro do seu usuário</h3>
			</div>
		</div>

		


		<div id="separateFour">

			<div class="groupFour" id="card">
				<img src="Images/usuarios.png" alt="Imagem de usuarios" class="tag">
				<h1>Usuarios</h1>
				<h3>Crie usuários com níveis de autorização dentro da sua empresa </h3>
			</div>
		</div>

		

		<div id="separateFive">
			<div class="groupFive" id="card">
				<img src="Images/qrcode.png" alt="Imagem de qrcode" class="tag">
				<h1>QR Code</h1>
				<h3>Gere QR Code referente as mesas</h3>

			</div>
		</div>

		

		<div id="separateSix">

			<div class="groupSix" id="card">
				<img src="Images/cardapio.png" alt="Imagem de cardapio" class="tag">
				<h1>Cardápio</h1>
				<h3>Gerencie seu cardápio estabelecendo horários de disponibilidade</h3>
			</div>
		</div>

		

		

		

	</div>

</div>

@code {

}
